<table>
  <tr *ngFor="let document of documents">
    <td>{{ document.id }}</td>
    <td>{{ document.name }}</td>
    <td>{{ document.descripcion }}</td>
    <td><button type="button">Editar</button><button type="button">Eliminar</button></td>
  </tr>
</table>
