<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">HeroDocs</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <a mat-list-item routerLink="." ><mat-icon>dashboard</mat-icon>  Dashboard</a>
          <a mat-list-item routerLink="/documents" routerLinkActive="active"><mat-icon>description</mat-icon>  Documents</a>
          <a mat-list-item routerLink="." ><mat-icon>folder</mat-icon>  Archive</a>
          <a mat-list-item routerLink="/departaments" routerLinkActive="active"><mat-icon>building</mat-icon>  Departaments</a>
          <a mat-list-item routerLink="." ><mat-icon>group</mat-icon>  Users</a>
          <a mat-list-item routerLink="." ><mat-icon>date_range</mat-icon>  Users Activity Log</a>
          <a mat-list-item routerLink="." ><mat-icon>list_alt</mat-icon>  Users Session Log</a>
          <a mat-list-item routerLink="." ><mat-icon>storage</mat-icon>  Backups</a>
          <a mat-list-item routerLink="/documentstest" ><mat-icon>description</mat-icon>  DocumentsTest</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


