<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>Are you sure about deleting of the document:</p>
  <p><strong>{{data.name}}</strong></p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="deleteUp()" cdkFocusInitial>Ok</button>
</div>
