example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.btn-form {
  width: 50px;
}
