<p>documents works!</p>


<mat-card>

      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onLinkClick($event)">

          <mat-tab label="Table">
            <app-table [documents]="documents"  (delete)="delete($event)" [displayedColumns]="tableColumns"></app-table> </mat-tab>
          <mat-tab label="Form">
              <h2 class="example-h2">New Document</h2>
              <form class="example-container example-form" [formGroup]="addForm" (ngSubmit)="onSubmit()" >

                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="name" name="name" placeholder="Name">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                      <input matInput formControlName="description" name="description" placeholder="Description">
                    </mat-form-field>

                    <button mat-raised-button class="btn-form" color="primary">Primary</button>


                </form>



          </mat-tab>

        </mat-tab-group>
        <mat-card-content>
